<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>GamerStore - Editar juego</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div id="error"></div>
        {% for juego in juego %}
        <form id="form" method="post" action="/actualizar" enctype="multipart/form-data">
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" name="id" id="id" value="{{ juego[0] }}"/>
              </div>
            <div class="form-group">
              <label for="nombre">Nombre del juego:</label>
              <input type="text" class="form-control" name="nombre" id="nombre" value="{{ juego[1] }}"/>
            </div>
            <div class="form-group">
              <label for="desarrollador">Desarrollador:</label>
              <input type="text" class="form-control" name="desarrollador" id="desarrollador" value="{{ juego[2] }}"/>
            </div>
            <div class="form-group">
              <label for="imagen">Archivo de imagen:</label>
              <img class="img-thumbnail" width="100" src="{{ juego[3] }}" alt="">
              <input type="file" class="form-control" name="imagen" id="imagen"/>
            </div>
            <div class="form-group">
              <label for="precio">Precio:</label>
              <input type="text" class="form-control" name="precio" id="precio" value="{{ juego[4] }}"/>
            </div>
            <div class="form-group">
              <label for="descuento">Descuento (si no tiene dejar en blanco):</label>
              <input type="text" class="form-control" name="descuento" id="descuento" value="{{ juego[5] }}"/>
            </div>
            <div class="form-group">
              <label for="calificacion">Calificación:</label>
              <input type="text" class="form-control" name="calificacion" id="calificacion" value="{{ juego[6] }}"/>
            </div>
            <button type="submit" class="boton boton-crear">Guardar</button>
          </form>
        {% endfor %}
    </main>
    {% include 'footer.html' %}
    <script src="/static/script.js"></script>
    <script src="/static/validacion.js"></script>
</body>
</html>