<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>GamerStore</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="contenedor juegos">
            {% for juego in juegos %}
            <div class="tarjeta" style="background-image: url('/uploads/{{ juego[3] }}');">
                <span class="calificacion titulo {%if juego[6] > 70 %} aprobado {% elif juego[6] > 40 %} regular {% else %} desaprobado {% endif %}">{{ juego[6] / 10}}</span>
                <div class="juego-info">
                    <h2 class="nombre titulo">{{ juego[1] }}</h2>
                    <p class="desarrollador">Desarrollador: {{ juego[2] }}</p>
                    <p class="precio">{% if juego[5]%}<span class="descuento"> -{{juego[5]}}% </span><span class="valor"> ARS$ {{ (juego[4] * (1 - juego[5] / 100))|round(2) }}</span><span class="valor tachado"> ARS$ {{ juego[4] }}</span>{% else %} ARS$ <span class="valor">{{ juego[4] }}</span>{% endif %}</p>
                    <div class="botones">
                        <a href="/editar/{{juego[0]}}" class="boton boton-editar">Editar</a>
                        <a href="/eliminar/{{juego[0]}}" class="boton boton-eliminar">Eliminar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="/static/script.js"></script>
</body>
</html>