h1 {
    text-align: center;
    margin: 1rem auto;
}

body {
    display: block;
    background-color: var(--cl-link);
}

.tabla-lista {
    background-color: black;
    width: 80%;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
}

th{
    background-color: var(--cl-terciary)
}

th {
    color: white;
    padding: 0.3rem 0.2rem;
}

td {
    color: black;
    background-color: #d79f38;
    padding: 0.2rem;
}

.boton-tabla {
    margin: 1rem;
    text-align: center;
}
