<header class="encabezado flex">
    <a href="/" class="logo titulo">GAMERSTORE</a>
    <nav class="nav-bar flex">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="#">Acerca de</a>
        <a class="nav-link" href="#">Soporte</a>
        <a href="/nuevo-juego" class="boton boton-crear">Agregar Juego</a>
    </nav>
    <div class="hamburguer">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</header>