<header class="encabezado flex">
    <a href="/" class="logo titulo">GAMERSTORE</a>
    <nav class="nav-bar flex">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="#">Acerca de</a>
        <a class="nav-link" href="#">Soporte</a>
        {% if not admin %}
        <a href="/login" class="boton boton-crear">Ingresar</a>
        {% else %}
        <a href="/logout" class="boton boton-crear">Cerrar sesión</a>
        {% endif %}
    </nav>
    <div class="hamburguer">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</header>